################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*.pdb
/sdl2_engine/Debug
/sdl2_engine/Release
/sdl2_engine/x64
*.user
*.exe
